@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    clip-path: circle(20% at top 70%);
}

body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    clip-path: circle(20% at 10% 10%);
}

.container{
    position: relative;
    display: flex;
    flex-direction:row wrap;
    grid-template-columns: repeat(1,auto);
    justify-content: center;
    align-items: center;
    min-width: 500px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    margin: 30px;
    position: relative;
    min-width: 280px; /* or use a percentage value */
    max-width: 280px;  /* Ensure the card doesn't exceed the container width */
    /* width: 280px; */
    height: 400px; 
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid  rgba(255, 255, 255, 0.5);
    border-left: 1px solid  rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content{
    padding: 10px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 4em;
    color:  rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

.container .card .content h3{
    font-size: 1.5em;
    color: #fff;
    z-index: 1;
}

.container .card .content p{
    font-size: 1em;
    color: #fff;
    font-family: 400;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #111;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}
@media(max-width:1079px){
    .container{ grid-template-columns: repeat(3,1fr);}
}
@media(max-width:782px){
    .container{ grid-template-columns: repeat(2,1fr);}
}
@media(max-width:480px){
    .container{
        margin-left: 30%;
        margin-right: 10%;  
        position: relative;
        display: flex;
        flex-direction:row wrap;
        grid-template-columns: repeat(1,auto);
        justify-content: center;
        align-items: center;
        min-width: 500px;
        flex-wrap: wrap;
        z-index: 1;
    }
}
